<md-dialog ng-controller="dashboardCtrl">
    <form layout="column" layout-align="center start">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>                    
                    <md-tooltip>Cancel</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <form layout="column" layout-align="center start" ng-model="myform"> 
        <!--Password Change Dialog Form -->
         <md-dialog-content layout="column" id="regFormContent" style="padding: 5%">
                  <br>
                  <md-input-container>
                      <label>New Password</label>
                      <input ng-model="userInfo.password" type="password">
                  </md-input-container>
                  <md-input-container>
                      <label>Confirm Password</label>
                      <input ng-model="userInfo.confirmPass" type="password">
                  </md-input-container>
              <span id="message">{{message}}</span>
         
          </md-dialog-content>
          <md-dialog-actions id="loginFormAct" layout="row" layout-align="space-between center" >
              <md-button class="md-raised md-primary reglogConfirm" ng-click="updatePassword()">
                  Update
              </md-button>
          </md-dialog-actions>
        </md-dialog-actions>
        
  
    </form>
</md-dialog>