<!--
Registration form. All functions for registration and login procedure should be in file "login.js" especially inside of controller "logInCtrl"
-->


<md-dialog ng-controller="logInCtrl">
    <form layout="column" layout-align="center start">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Get access</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">cancel</i>
                    <md-tooltip>Cancel</md-tooltip>
                </md-button>

            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-align="center center" ng-show="!showRegistration" ng-hide="showLogin">
            <div id="startForm" layout="row" layout-align="center center">
                <md-button md-no-ink class="md-primary reglog" ng-click="showLogin = ! showLogin">
                    Log in
                </md-button>
                <md-button md-no-ink class="md-primary reglog" ng-click="showRegistration = !showRegistration">
                    Register
                </md-button>
            </div>
        </md-dialog-content>
        
        <!-- form for "REGISTRATION" -->
        <md-dialog-content layout="column" layout-align="center center" id="regFormContent" ng-show="showRegistration" ng-hide="!showRegistration">
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="userInfo.firstname" type="text">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="userInfo.lastname" type="text">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Company</label>
                    <input ng-model="userInfo.company" type="text">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="userInfo.email" type="email">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="userInfo.password" type="password">
                </md-input-container>
                <md-input-container>
                    <label>Confirm password</label>
                    <input ng-model="userInfo.confirmPass" type="password">
                </md-input-container>
            </div>
            <span id="message">{{message}}</span>
        </md-dialog-content>
        <md-dialog-actions id="loginFormAct" layout="row" layout-align="space-between center" ng-show="showRegistration">
            <md-button class="md-icon-button md-primary" ng-click="showRegistration=!showRegistration">
                <i class="material-icons">arrow_back</i>
                <md-tooltip>Back</md-tooltip>
            </md-button>

            <!-- Here in ng-click should be a function for registration -->
            <md-button class="md-raised md-primary reglogConfirm" ng-click="register()">
                Register now
            </md-button>
        </md-dialog-actions>
        
        <!-- form for "LOGIN" -->
        <md-dialog-content layout="column" layout-align="center center" id="loginFormContent" ng-show="showLogin;!showPass" ng-hide="!showLogin">
            <div layout="column" layout-align="center start">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="loginInfo.email" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="loginInfo.password" type="password">
                </md-input-container>
                <md-button md-no-ink class="md-primary" ng-click="showPass=!showPass">Forgot password</md-button>
            </div>
            <span id="message">{{message}}</span>
        </md-dialog-content>
        <md-dialog-actions id="regFormAct" layout="row" layout-align="space-between center" ng-show="showLogin; !showPass" ng-hide="!showLogin">
            <md-button class="md-icon-button md-primary" ng-click="showLogin=!showLogin">
                <i class="material-icons">arrow_back</i>
                <md-tooltip>Back</md-tooltip>
            </md-button>
            
            <!-- Here in ng-click should be a function for login -->
            <md-button class="md-raised md-primary reglogConfirm" ng-click="logIn()">
                Log in
            </md-button>
        </md-dialog-actions>
        
        <!-- form for "FORGOT PASSWORD" -->
        <md-dialog-content layout="column" layout-align="center center" id="passForgot" ng-show="showPass" ng-hide="!showPass">
            <div layout="column" layout-align="center start">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="loginInfo.email" type="email">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions id="regFormAct" layout="row" layout-align="space-between center" ng-show="showPass" ng-hide="!showPass">
            <md-button class="md-icon-button md-primary" ng-click="showPass = ! showPass">
                <i class="material-icons">arrow_back</i>
                <md-tooltip>Back</md-tooltip>
            </md-button>
            
            <!--Here in ng-click should be a function for "FORGOT PASSWORD?" -->
            <md-button class="md-raised md-primary reglogConfirm" ng-click="">
                Send password
            </md-button>
        </md-dialog-actions>
        
    </form>
</md-dialog>